@media(max-width:1367px){
    body{
        /* scale:85.375%; */
        /* transform: scale(85.375%);
        transform-origin: 0 0; */
        zoom: 85.375%;
    }
}

@media (max-width:1301px) {


    .key-features{
        margin: auto;

    }

    /* .about-us-paragraph {
        margin-bottom: 70px;
    } */
    /* .about-us-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
    .left-content img{

        margin-right: 200px;      
    
    }
    
}

@media (max-width:1101px) {
    .left-content img{
        margin-top:70px;
        margin-right: 50px; 
    
    
    }
    .infoflip-features{
        max-width: 100%;
        height: auto;
        left: 30%;
        margin-top: 20%;

    }

    .right-content{

        margin:auto;
    }

    .years-experience {
        margin-left:400px;
        margin-top: -50px;
        background-color: #EC1C4D;
        color: white;
        max-width: 216px;
        height: auto;
        padding: 15px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .key-features{
        margin: auto;
        margin-left: 125px;
        width: 300%;
    }



    .left-content img{
        margin-top:70px;
        margin-right: 50px; 
    
    
    }
    .infoflip-features{
        max-width: 100%;
        height: auto;
        left: 30%;
        margin-top: 20%;

    }

    .right-content{

        margin:auto;
    }

    .key-features{
        margin: auto;
        margin-left: 125px;
        width: 300%;
    }



    .left-content img{
        margin-top:70px;
        margin-right: 50px; 
    
    
    }
    .infoflip-features{
        max-width: 100%;
        height: auto;
        left: 30%;
        margin-top: 20%;

    }

    .right-content{

        margin:auto;
    }

    .years-experience {
        margin-left:300px;
        margin-top: -50px;
    
    }

    .big-vector img{

        scale: 0.5 1;
        left:30%;
    }
}

@media (max-width:950px) {

    .industry-item{
 
        width:100%;

    }
    

}