body{
    overflow-x: hidden;
}
a:link{
        text-decoration: none;
        color: inherit;
}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h2{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.2px;
    color: #130202;
  
}

.about-us{
    max-width: 199px;
    height: 56px;
    background: none;
    border-style: solid;
    border-color: #FFFFFF  1px;
    border-radius: 2000px;
    color: #FFFFFF;
    padding-top:8px;
}

.about-us-section-top {
    gap: 50px;
    margin:0 143px;
    padding-top:154px;
   
}


.about-us-section{
    gap: 50px;
    margin:0 143px;
    padding-top: 84px;
}
.about-us-content{
    min-height:453px;
    display: flex;
    flex-direction: column;
    margin-top:15px;
    flex: 1;

}

.about-us-content h2{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.2px;
    color: #130202;
    padding-bottom: 15px;
    flex: 1;
}

.about-us-paragraph {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0px;
    color: #5A7184;
    flex: 1;
}

.about-us-header{
width: 112.96981048583984px;
height: 32px;
font-family: Open Sans;
font-weight: 600;
font-size: 14px;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
color: #EC1C4D;
background-color: #ec1c4d25;
border-radius: 30px;
padding-top:6.5px ;
} 

.about-us-image-small{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.about-us-image-medium img{
max-width: 307px;
min-height:490px;
padding-right:20px;
border-radius: 8px;
flex: 1;

}

 .about-us-image-small img{
max-width: 307px;
height:230px;
padding-bottom: 15px;
border-radius: 8px;
flex: 1;

}

.about-us-image{
    min-height:490px;
}

.about-us-image-left{
    display: flex;
    position:absolute;
    max-width: 642px;
    height: auto;
    border-radius: 8px;
    
}

.about-us-word-on-image{
    display: flex;
    position: relative;
}
.see-more-options{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #EC1C4D;
    flex: 1;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.nav-list-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list-bar li {
margin: auto;

}

.nav-list-bar a {
text-decoration: none;
color:  #130202;
font-family: Open Sans;
font-weight: 600;
font-size: 16px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
color: #130202;
text-decoration: none;
margin: 0 12px;
}

.nav-list-bar img{
    width: 96px;
height: 56px;
margin-bottom: 14px;
margin-left: 143px;

}

/* Adjustments for Navigation */
.nav-header {
    justify-content: space-between;
    padding: 13px;
    align-items: center;
    max-height: 84px;
}

.nav-list-bar ul li {
    margin-right: 20px;
}

.nav-list-bar a {
    text-decoration: none;
    color: inherit;

}

.key-features ul {
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
}

.key-features h3 {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #130202;
    padding-bottom: 20px;

}

.checkmark{
    align-items: center;
    margin-bottom: 10px;
    
}

.checkmark li p{
    margin-left:5px;
    font-family: Open Sans;
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0px;
color: #130202;
padding-bottom: 12px;

}

.checkmark img{
width: 32px;
height: 32px;
margin-right: 10px;

}
/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 125px;
    border-radius: 5px;;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 15px 20px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

a:visited {
    color: inherit; /* removes after click color change on anchor elements*/
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown .dropbtn {
    display: inline-block; /* Ensure the button is inline */
    padding: 10px; 
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
}

.quote-selection {
    width: 153px;
    border-radius: 50px;
    border: 2px solid #130202;
    box-sizing: border-box;
    /* padding:13px 21px;  */
    padding-top:13px;
    padding-left:20px;
    height:48px;
}

.key-features h3{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #130202;

}

.key-features ul li{
    font-family: Open Sans;
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0px;
color: #130202;

}

/* ------------------------------------------------------------------ */
.hero-banner {
    background-image: url("../images/banner-protrait-engineers-work-hour-site-v3.png");
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
    display: flex;
    min-height: 756px;
    max-width: 100%;
    border-bottom-right-radius: 35%;

}

.infoflip-designer-text {
max-width: 283px;
max-height: 32px;
padding-top: 5px;
padding-right: 16px;
padding-bottom: 16px;
padding-left: 16px; 
background-color: #ffffff48;
border-radius: 30px;
margin-bottom: 0px;
}

.infoflip-designer-text p{

font-family: Open Sans;
font-weight: 600;
font-size: 14px;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
color: #FFFFFF;

}

.hero-text {
    display: flex;
    flex-direction: column;
   /* justify-content: center;  Vertically center content */
   min-height: 434px;
   top: 181px;
   padding-left: 143px;
   padding-top:97px;
    width: 52%; 
    color: #FFFFFF;
}



.hero-text-main h1 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 56px;
    line-height: 68px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    
}

.hero-text-main p {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin: 20px 0;
    
}

.hero-buttons{
gap:21px;
font-family: Open Sans;
font-weight:bold;
font-size: 18px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;

}

.view-infoflip{
width: 199px;
height: 56px;
text-align: center;
background: #FFFFFF;
border-style: solid;
border-color: #FFFFFF  1px;
border-radius: 2000px;
padding-top:8px
}

.view-infoflip a{
    color: #183B56;
}

/* ------------------------------------------------------------------ */
.clients-header{
font-family: Open Sans;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0px;
color: #EC1C4D;
margin-bottom:20px;
}


.clients {
text-align: center;
max-width: 1263px;
max-height: 83px;
margin:auto;
overflow: hidden;
white-space: nowrap;
margin-top:84px; 


}

.client-logos img, .client-logos1 img{
    width: 143px;
    height: 83.30097198486328px;
    margin: 0 20px;
    /* flex:1; */
}
 
.client-logos{
    position: absolute;
    /* margin-left: auto;
    margin-right: auto; */
    animation: scrollLogos 25s linear infinite; 
    overflow: hidden;
}

.client-logos1{
    position: absolute;
    /* margin-left: auto;
    margin-right: auto; */
    animation: scrollLogos1 25s linear infinite; 
    overflow: hidden;
}

@keyframes scrollLogos {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}


@keyframes scrollLogos1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* ------------------------------------------------------------------ */

.infoflip-image img {
position: relative;
max-width: 642px;
width: 100%;
height: auto;
border-radius: 8px;

}

.infoflip-image .years-experience {
 position: absolute;
 }

.years-experience {
    margin-left:400px;
    margin-top: -50px;
    background-color: #EC1C4D;
    color: white;
    max-width: 216px;
    height: auto;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.years-number {
    font-family: Open Sans;
    font-weight: 800;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: 0px; 
    
}

.years-text {
    font-family: Open Sans;
font-weight: 800;
font-size: 20px;
line-height: 100%;
letter-spacing: 0px;
text-transform: capitalize;
 padding-bottom:20px;
}

/* ------------------------------------------------------------------ */
.concept-steps-container {
    margin: 0 180px;
    margin-top: 124px;
    position: relative; /* Needed for absolute positioning of .big-vector */
}


.concept-steps-header p {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    color: #5A7184;
}

.big-vector {
    width: 100%;
    height: auto;

}

.big-vector img {
    border-width: 4px;
    display: block;
    position: absolute; 
    top: 0;
    left: 50%; 
    transform: translateX(-50%); /* Center precisely */
    width: auto;
    height: 100%;
    z-index: -2;
}

.big-vector-content {
    margin: auto;
    position: relative; 
}

.concept-container {
    position: relative; 
    margin-bottom: 84px;;
}

.concept-item {
    position: relative; 
    display: flex;
    margin-bottom: 100px;
}

.concept-steps-header {
    max-width: 834px;
    margin: auto;
    margin-bottom:48px;
}

.concept-steps-header h2{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #130202;

}

.concept-steps-header p{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    color: #5A7184;

}


.concept-item-text {
    flex-direction: column;
}

.concept-item-text h3 {
    font-family: Urbanist;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;    
    text-align: left;
}


.concept-item-text p {
font-family: Urbanist;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0%;
color: #2B2B2B;
text-align: left;
}

.concept-item-image {
    margin-right: 20px;
    box-sizing: border-box;
}

.concept-item-image img {
    width: 58px;
    height: 58px;
    margin: auto;
    border-radius: 36.5px;
    padding: 10px;
    background: #FEE9EE;
}

.concept-item-left,
.concept-item-right {
    display: flex;
    flex: 2;
    border-radius: 24px;
    padding: 24px;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 35px 116px -10px #9AA7C140;
}

.concept-step-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    font-family: Urbanist;
    font-weight: 600;
    font-size: 54px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #EC1C4D;
    background: transparent;
    text-transform: capitalize;

}

/* InfoFlip Design for Maximum Usability: Services Section */
/*
.dropdown-services {
    position: relative;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-services h3 {
    margin: 0;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.dropdown-services-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
} 
*/


/* ------------------------------------------------------------------ */
.left-content img{
    max-width: 684px;
    height: auto;
    border-radius: 8px;
    margin-right:219px;  

}

.infoflip-services-content-text img, .infoflip-services-content-text-small img{
    width: 14px;
    height: 20px;
    color: #5A7184;
    
    }

.right-content{
    max-width: 609px;
min-height: 550px;

}
.right-content h2{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.2px;    
    color: #130202;
    max-width: 587px;
    min-height: 120px;
}

.right-content p{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0px;    
    color: #5A7184;    
    max-width: 594px;
    min-height: 60px;
    width:100%;
}

.infoflip-services-up-arrow{
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.infoflip-options{
    max-width: 420px;
    border-radius: 8px;
    margin-bottom: 10px; /* Space between accordion items */
    background: transparent; /* Default background */
    transition: background 0.3s; /* Smooth transition for background */
}


.infoflip-services-content-bigger-box{
text-align: left;
background: rgba(254, 118, 118, 0.1);
max-width: 420px;
min-height: 159px;
border-radius: 8px;
}

.infoflip-options h3{
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.22px;
    color: #130202; 
}

.infoflip-services-content-text p{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;
    color: #183B56;
}
.infoflip-services-content-text, .infoflip-services-content-text-small{
    cursor: pointer;
    padding: 10px; /* Padding for the header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; /* Default background */
    transition: background-color 0.3s;
}

.infoflip-content-margin{
justify-content: space-between;
align-items: center;
padding-left:10px ;
padding-right:10px;
padding-bottom: 10px;
width: 100%;
}


.infoflip-services-content-text-red a{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    color: rgba(236, 28, 77, 1);
    margin-bottom: 20px;  
}

.infoflip-services-content-text-small{
background: rgba(214, 170, 181, 0.1);
max-width: 420px;
min-height: 60px;
border-radius: 8px;
margin-top:16px;
}

.infoflip-content{
    background: rgba(255, 250, 250, 1);
    padding: 20px 0 ; /* Add padding for overall content */

}

.infoflip-services-content{
    position: relative;
    padding: 52px 0 ;
}

.infoflip-features{
    max-width: 1600px;
    height: auto;
    left: 30%;
    margin-top: 25%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.infoflip-features1, .infoflip-features2, .infoflip-features3{
display: block;

background: rgba(255, 255, 255, 1);
box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.08);
box-sizing: border-box;
margin-bottom: 25px;
padding:10px;
color: rgba(24, 59, 86, 1);
font-family: Open Sans;
font-weight: 400;
font-size: 16px;
line-height: 28px;
letter-spacing: 0px;
text-wrap: normal;
}

label{
    margin:0;
}


.infoflip-features1{
max-width: 190px;
}

.infoflip-features2{
    margin-left:25px;
    max-width: 250px;
}
/*    Accordion         */
/* ------------------------------------------------------------------ */
.accordion-toggle {
    display: none; /* Hide the checkbox */
}

.infoflip-services-content-text-small:hover,
.accordion-toggle:checked + .infoflip-services-content-text-small {
    background: rgba(254, 118, 118, 0.1);
}

.accordion-services-content {
    display: none; /* Hide the content by default */
    padding: 15px; /* Padding for the content */
    background: rgba(254, 118, 118, 0.1); /* White background for content */
    border-radius: 0 0 8px 8px; /* Rounded corners at the bottom */
    margin: 0;
}

.accordion-toggle:checked + .infoflip-services-content-text-small + .accordion-services-content {
    display: block; /* Show the content when the checkbox is checked */
}

.accordion-arrow {
    transition: transform 0.3s;
}

.accordion-toggle:checked + .infoflip-services-content-text-small .accordion-arrow {
    transform: rotate(180deg); /* Rotate arrow when expanded */
}
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */


.infoflip-industry-services{
    margin-top:50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.infoflip-industry-services-text{
max-width: 824px;
height: auto;
margin-bottom:10px;
}

.infoflip-industry-services-text h2{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.2px;
    text-align: center;
    color: rgba(19, 2, 2, 1);

}


.infoflip-industry-services-text p{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(90, 113, 132, 1);


}

.industry-row{
    justify-content: center;
    align-items: center;
    

}

.industry-item{
    max-width: 304px;
    width:900vw;
    min-height: 249px;
    border-radius: 8px;
    margin:0 15px;
    margin-bottom:30px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 2px 4px 34px 0px rgba(15, 24, 44, 0.05);
    align-items: center;
}


.industry-item-text h3{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    color: rgba(24, 59, 86, 1);
    
}

.industry-item-text p{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(90, 113, 132, 1);
}

.industry-item-text {
    margin:20px;
    max-width: 190px;;
}

.industry-item img{
width: 73.97718811035156px;
height: 64px;
margin-top: 20px;
}

/* ------------------------------------------------------------------ */

.clients-say-container{
min-height: 653px;
margin-top: 84px ;
background: rgba(255, 250, 250, 1);
padding: 25px 0;

}
.client-testimonials-container{
    justify-content: center;
}

.clients-say-container h2{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.2px;
    text-align: center;
    color: rgba(19, 2, 2, 1);
    justify-content: center;
    align-items: center;
}

.client-testimonials img{
    width: 90px;
    height: 90px;   
}

.client-testimonials{
    max-width: 372px;
    height: auto;
    background: rgba(255, 255, 255, 1);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius:10px;
    padding: 0 50px;
    padding-top: 35px;
    margin: 20px;
}

.testimonials-middle{
    box-shadow: 0px 34px 104px 0px rgba(18, 22, 28, 0.1);
}

.client-testimonials p{
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: rgba(18, 20, 29, 1);

}


.testimonial-client-info{
    padding:10px;
}

.testimonial-client-info h4{
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(18, 20, 29, 1);
   
}

.testimonial-client-info p{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(82, 82, 91, 1);
}


/* ------------------------------------------------------------------ */
.trusted-client-header{
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:48px;
}

.trusted-client-header h2{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.2px;
    text-align: center;
    color: rgba(19, 2, 2, 1);
    margin-bottom: 20px;
 
}

.trusted-client-header p{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(90, 113, 132, 1);
    
}

.trusted-client-container {
    text-align: center;
    margin-top:84px;
    justify-content: space-between;
   
}
.trusted-client-logos {
    max-width: 1348px;
    width:100%;
    padding:0 20px;
    padding-bottom:40px;
    padding-top:48px;
    margin-left: auto;
    margin-right: auto;
}

.trusted-client-logos img{
    width: 143px;
    height: 83.30097198486328px;
    flex:1; 

}
/* ------------------------------------------------------------------ */
.infoflip-quote-container{
margin-top:94px;
}

.infoflip-quote{
max-width: 1296px;
height: auto;
border-radius: 10px;
gap: 4px;
padding-top: 23px;
padding-right: 63px;
padding-bottom: 23px;
padding-left: 63px;
background: rgba(19, 2, 2, 1);
margin: auto;
}

.infoflip-quote-text{
justify-content: start;
align-items: center;  
flex: 3;
}

.infoflip-quote-text h2{
font-family: Open Sans;
max-width: 748px;
height: auto;
font-weight: 700;
font-size: 40px;
line-height: 60px;
letter-spacing: 0.2px;
color: rgba(255, 255, 255, 1);
}

.infoflip-quote-text p{
max-width: 748px;
height: auto;
font-family: Open Sans;
font-weight: 400;
font-size: 20px;
line-height: 32px;
letter-spacing: 0px;
color: rgba(255, 255, 255, 1);
}

.infoflip-quote-link{
width: 199px;
height: 56px;
border-radius: 2000px;
background: rgba(255, 255, 255, 1);    
font-family: Open Sans;
font-weight: 700;
font-size: 18px;
letter-spacing: 0px;
text-align: center;
color: rgba(19, 2, 2, 1);
margin: auto;
padding-top:15px;
flex:1
}

.infoflip-quote-link a{
text-decoration: none;
font-family: Open Sans;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;

}

/* ------------------------------------------------------------------ */
.footer{
background: rgba(255, 250, 250, 1);
margin-top:100px;
padding-top: 50px;
padding-bottom: 10px;
padding-left: 143px;
padding-right: 70px;
height:430px;
}

.footer-main-content{
    align-items: center; 
    margin: auto;
}

.footer-item{
flex: 1; 
margin-right:20px;
}
.footer-main-image{
flex:3;
}
.footer-main-image img{
    max-width: 178px;
    height: 223px;
    margin-bottom: 100px;
    /* margin-left:143px; */
    margin-right:269px;

}

.footer-item h4{
    font-family: Inter;
    margin:0;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0%;
    color: rgba(34, 34, 34, 1);
    padding-bottom:35px;
 
}

.footer-item a{
font-family: Inter;
font-weight: 400;
font-size: 16px;
letter-spacing: 0%;
color: rgba(102, 112, 133, 1);
cursor: pointer;
padding-bottom:35px;

}


.footer-item-line-row p{
font-family: Inter;
font-weight: 400;
font-size: 16px;
letter-spacing: 0%;  
text-align: left;
color: rgba(102, 112, 133, 1);
margin-bottom:-15px;
}

.footer-item-line-row img{
width: 20px;
height: 20px;
margin-right:10px;
}

.footer-bottom{
margin-top:20px;
font-family: Inter;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: rgba(34, 34, 34, 1);
padding-top: 15px;
padding-bottom: 10px;
border-top: 1px solid rgba(34, 34, 34, 0.2);
margin-top:20px;
}

.contact-us-image-bottom
{
    margin-right:10px;
}

.contact-us-image-bottom-container{
    margin-top: 35px;
}

/* ------------------------------------------------------------------ */